<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <style>
      .container {
        margin-top: 20px;
      }

      .row {
        background: #b8b8b8;
      }

      .col {
        background: #cecece;
        text-align: center;
        padding: 10px;
        border: 1px solid #4d5061;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <span class="badge bg-light text-dark d-block d-sm-none">xs</span>
      <span class="badge bg-light text-dark d-none d-sm-block d-md-none">sm</span>
      <span class="badge bg-light text-dark d-none d-md-block d-lg-none">md</span>
      <span class="badge bg-light text-dark d-none d-lg-block d-xl-none">lg</span>
      <span class="badge bg-light text-dark d-none d-xl-block d-xxl-none">xl</span>
      <span class="badge bg-light text-dark d-none d-xxl-block">xxl</span>

      <h4>grid - row</h4>
      <hr />
    </div>

    <div class="container">
      <span class="badge bg-info mb-2">row-cols-4</span>
      <div class="row row-cols-4">
        <div class="col">Column #1 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #2 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #3 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #4 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #5 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #6 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #7 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #8 <span class="badge bg-info mb-2">col</span></div>
      </div>
    </div>

    <div class="container">
      <span class="badge bg-info mb-2">row-cols-2</span>
      <div class="row row-cols-2">
        <div class="col">Column #1 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #2 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #3 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #4 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #5 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #6 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #7 <span class="badge bg-info mb-2">col</span></div>
        <div class="col">Column #8 <span class="badge bg-info mb-2">col</span></div>
      </div>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
