<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <style>
      .container {
        margin-top: 20px;
      }

      .row {
        background: #e8e8e8;
      }

      .columna {
        background: #f2f2f2;
        text-align: center;
        border: 1px solid #8d8d8d;
      }

      .columna-interior {
        background: #e8e8e8;
        border: 1px solid #8d8d8d;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <span class="badge bg-light text-dark d-block d-sm-none">xs</span>
      <span class="badge bg-light text-dark d-none d-sm-block d-md-none">sm</span>
      <span class="badge bg-light text-dark d-none d-md-block d-lg-none">md</span>
      <span class="badge bg-light text-dark d-none d-lg-block d-xl-none">lg</span>
      <span class="badge bg-light text-dark d-none d-xl-block d-xxl-none">xl</span>
      <span class="badge bg-light text-dark d-none d-xxl-block">xxl</span>

      <h4>grid - inner</h4>
      <hr />
    </div>

    <div class="container">
      <div class="row">
        <div class="columna col-12 col-md-6">
          Column #1
          <span class="badge bg-info d-inline-block d-md-none">col-12</span>
          <span class="badge bg-info d-none d-md-inline-block">col-md-6</span>
          <div class="row">
            <div class="columna-interior col-12 col-md-6">
              Inner Column #1
              <span class="badge bg-info d-inline-block d-md-none">col-12</span>
              <span class="badge bg-info d-none d-md-inline-block">col-md-6</span>
            </div>
            <div class="columna-interior col-12 col-md-6">
              Inner Column #2
              <span class="badge bg-info d-inline-block d-md-none">col-12</span>
              <span class="badge bg-info d-none d-md-inline-block">col-md-6</span>
            </div>
          </div>
        </div>
        <div class="columna col-12 col-md-6">
          Column #2
          <span class="badge bg-info d-inline-block d-md-none">col-12</span>
          <span class="badge bg-info d-none d-md-inline-block">col-md-6</span>
          <div class="row">
            <div class="columna-interior col-12 col-md-6">
              Inner Column #1
              <span class="badge bg-info d-inline-block d-md-none">col-12</span>
              <span class="badge bg-info d-none d-md-inline-block">col-md-6</span>
            </div>
            <div class="columna-interior col-12 col-md-6">
              Inner Column #2
              <span class="badge bg-info d-inline-block d-md-none">col-12</span>
              <span class="badge bg-info d-none d-md-inline-block">col-md-6</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
