<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <span class="badge bg-light text-dark d-block d-sm-none">xs</span>
      <span class="badge bg-light text-dark d-none d-sm-block d-md-none">sm</span>
      <span class="badge bg-light text-dark d-none d-md-block d-lg-none">md</span>
      <span class="badge bg-light text-dark d-none d-lg-block d-xl-none">lg</span>
      <span class="badge bg-light text-dark d-none d-xl-block d-xxl-none">xl</span>
      <span class="badge bg-light text-dark d-none d-xxl-block">xxl</span>

      <h4>button</h4>
      <hr />
    </div>

    <div class="container">
      <div class="row mt-2">
        <div class="col-12">
          <h4 class="mt-2">enabled</h4>
          <hr />
          <button type="button" class="btn btn-primary">primary</button>
          <button type="button" class="btn btn-secondary">secondary</button>
          <button type="button" class="btn btn-success">success</button>
          <button type="button" class="btn btn-danger">danger</button>
          <button type="button" class="btn btn-warning">warning</button>
          <button type="button" class="btn btn-info">info</button>
          <button type="button" class="btn btn-light">light</button>
          <button type="button" class="btn btn-dark">dark</button>
        </div>

        <div class="col-12">
          <h4 class="mt-2">disabled</h4>
          <hr />
          <button type="button" class="btn btn-primary disabled">primary</button>
          <button type="button" class="btn btn-secondary disabled">secondary</button>
          <button type="button" class="btn btn-success disabled">success</button>
          <button type="button" class="btn btn-danger disabled">danger</button>
          <button type="button" class="btn btn-warning disabled">warning</button>
          <button type="button" class="btn btn-info disabled">info</button>
          <button type="button" class="btn btn-light disabled">light</button>
          <button type="button" class="btn btn-dark disabled">dark</button>
        </div>

        <div class="col-12">
          <h4 class="mt-2">outline</h4>
          <hr />
          <button type="button" class="btn btn-outline-primary">primary</button>
          <button type="button" class="btn btn-outline-secondary">secondary</button>
          <button type="button" class="btn btn-outline-success">success</button>
          <button type="button" class="btn btn-outline-danger">danger</button>
          <button type="button" class="btn btn-outline-warning">warning</button>
          <button type="button" class="btn btn-outline-info">info</button>
          <button type="button" class="btn btn-outline-light text-dark">light</button>
          <button type="button" class="btn btn-outline-dark">dark</button>
        </div>

        <div class="col-12">
          <h4 class="mt-2">size</h4>
          <hr />
          <button type="button" class="btn btn-primary btn-lg">Large button</button>
          <button type="button" class="btn btn-secondary btn-lg">Large button</button>
          <button type="button" class="btn btn-primary btn-sm">Small button</button>
          <button type="button" class="btn btn-secondary btn-sm">Small button</button>
        </div>

        <div class="col-12">
          <h4 class="mt-2">tags</h4>
          <hr />
          <a class="btn btn-primary" href="#" role="button">Link</a>
          <button class="btn btn-primary" type="submit">Button</button>
          <input class="btn btn-primary" type="button" value="Input" />
          <input class="btn btn-primary" type="submit" value="Submit" />
          <input class="btn btn-primary" type="reset" value="Reset" />
        </div>

        <div class="col-12">
          <h4 class="mt-2">100%</h4>
          <hr />
          <div class="d-grid gap-2 col-12">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-secondary" type="button">Button</button>
          </div>
        </div>

        <div class="col-12">
          <h4 class="mt-2">50%</h4>
          <hr />
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-secondary" type="button">Button</button>
          </div>
        </div>

        <div class="col-12">
          <h4 class="mt-2">center</h4>
          <hr />
          <div class="d-flex gap-2 justify-content-center">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-secondary" type="button">Button</button>
          </div>
        </div>

        <div class="col-12">
          <h4 class="mt-2">100% & center</h4>
          <hr />
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-secondary" type="button">Button</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
