<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <span class="badge bg-light text-dark d-block d-sm-none">xs</span>
      <span class="badge bg-light text-dark d-none d-sm-block d-md-none">sm</span>
      <span class="badge bg-light text-dark d-none d-md-block d-lg-none">md</span>
      <span class="badge bg-light text-dark d-none d-lg-block d-xl-none">lg</span>
      <span class="badge bg-light text-dark d-none d-xl-block d-xxl-none">xl</span>
      <span class="badge bg-light text-dark d-none d-xxl-block">xxl</span>

      <h4 class="mt-2">scrollspy</h4>
      <hr />
    </div>

    <div class="container">
      <div class="row mt-2">
        <h4 class="mt-2">navbar anchors</h4>
        <hr />
        <div class="row">
          <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">First</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">Second</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">Third</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">Fourth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading5">Fifth</a>
              </li>
            </ul>
          </nav>
          <div
            data-bs-spy="scroll"
            data-bs-target="#navbar-example2"
            data-bs-root-margin="0px 0px -40%"
            data-bs-smooth-scroll="true"
            class="scrollspy-example p-3 rounded-2"
            tabindex="0"
            style="height: 200px; overflow: auto">
            <h4 id="scrollspyHeading1">First heading</h4>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <h4 id="scrollspyHeading2">Second heading</h4>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <h4 id="scrollspyHeading3">Third heading</h4>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <h4 id="scrollspyHeading4">Fourth heading</h4>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <h4 id="scrollspyHeading5">Fifth heading</h4>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <h4 class="mt-2">simple anchors</h4>
        <hr />
        <div class="row">
          <div class="col-2">
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
              <a class="p-1 rounded" href="#simple-list-item-1">Item 1</a>
              <a class="p-1 rounded" href="#simple-list-item-2">Item 2</a>
              <a class="p-1 rounded" href="#simple-list-item-3">Item 3</a>
              <a class="p-1 rounded" href="#simple-list-item-4">Item 4</a>
              <a class="p-1 rounded" href="#simple-list-item-5">Item 5</a>
            </div>
          </div>
          <div class="col-10">
            <div
              data-bs-spy="scroll"
              data-bs-target="#simple-list-example"
              data-bs-offset="0"
              data-bs-smooth-scroll="true"
              class="scrollspy-example"
              tabindex="0"
              style="height: 200px; overflow: auto">
              <h4 id="simple-list-item-1">Item 1</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="simple-list-item-2">Item 2</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="simple-list-item-3">Item 3</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="simple-list-item-4">Item 4</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="simple-list-item-5">Item 5</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <h4 class="mt-2">list anchors</h4>
        <hr />
        <div class="row">
          <div class="col-2">
            <div id="list-example" class="list-group">
              <a class="list-group-item list-group-item-action" href="#list-item-anchors-1">Item 1</a>
              <a class="list-group-item list-group-item-action" href="#list-item-anchors-2">Item 2</a>
              <a class="list-group-item list-group-item-action" href="#list-item-anchors-3">Item 3</a>
              <a class="list-group-item list-group-item-action" href="#list-item-anchors-4">Item 4</a>
              <a class="list-group-item list-group-item-action" href="#list-item-anchors-5">Item 5</a>
            </div>
          </div>
          <div class="col-10">
            <div
              data-bs-spy="scroll"
              data-bs-target="#list-example"
              data-bs-smooth-scroll="true"
              class="scrollspy-example"
              tabindex="0"
              style="height: 200px; overflow: auto">
              <h4 id="list-item-anchors-1">Item 1</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="list-item-anchors-2">Item 2</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="list-item-anchors-3">Item 3</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="list-item-anchors-4">Item 4</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <h4 id="list-item-anchors-5">Item 5</h4>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
              <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
